@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body
{
    background-color: rgb(233, 234, 217);
}


.profile-image-div
{
    width: 150px;
    height: 150px;
    margin-top: 20px;
    position: relative;
}


.profile-image
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.about
{
    font-size: 14px;
}


.edit-btn
{
    transition: all 0.4s  ease;
}

.edit-btn:hover
{
    scale: 0.95;
}

.employement-type
{
    padding: 2px 10px;
    font-size: 12px;
}


.profile-pic-edit-label
{
    background-color: orange;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
}

.profile-pic-edit-label:hover
{
    background-color: rgb(231, 158, 23);
}

.skills-list
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 2px 10px;
}


.skills-list::after
{
    content:url("assets/img/delete_icon.svg");
    width: 15px;
    cursor: pointer;
    display: inline-block;
}

.footer-div
{
    width: 100%;
    background-color: rgb(235, 235, 229);
    /* margin-top: 100px; */
    position: relative;
    bottom: 0;
}







.overlay 
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}



.profile-image-div:hover .overlay 
{
    opacity: 1;
}



.profile-image-input 
{
    display: none;
}


#camera-icon
{
    position: absolute;
    right: 28px;
    bottom: 10px;
    /* rotate: 350deg; */
    cursor: pointer;
    z-index: 999;
    color: white;
}


.editable {
    border: 2px solid #000; /* Optional: Add some visual indication */
    padding: 5px;
}

.editable[contenteditable="true"] {
    /* outline: none; */
    background-color: #fdfbf7;
    border-radius: 10px;
}



.pointer
{
    cursor: pointer;
}










.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 10px;
  }
  
  .card-title {
    /* padding: 20px 0 15px 0; */
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-body {
    padding: 0 10px 20px 10px;
  }


.exp-plus-icon, .edu-plus-icon
{
    border-radius: 50%;
    transition: all 0.3s ease;
}

.exp-plus-icon:hover, .edu-plus-icon:hover
{
    background-color: rgba(0, 0, 0, 0.199); 
}


.seeMore
{
    color: gray;
    transition: all 0.3s ease;
}

.seeMore:hover
{
    color: #0a66c2;
    text-decoration: underline;
}



.loader
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.228);
}