@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}


body
{
    width: 100%;
    background-color: rgb(233, 234, 217);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container
{
    width: 50%;
    /* height: 65%; */
    background-color: rgb(238, 241, 197);
    border-radius: 20px;
    border: 2px solid orange;
    display: flex;
    align-items: center;
    flex-direction: column;

}


.title h2
{
    text-align: center;
    font-size: 28px;
    color: red;
    margin-top: 15px;
}


.inputs
{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.email-input
{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.password-input
{
    display: flex;
    flex-direction: column;
    width: 60%;
}

#email
{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

#email:focus
{
    outline: 1px solid orangered;
}


#password
{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    border: 1px solid orange;
    border-radius: 5px;
}

#password:focus
{
    outline: 1px solid orangered;
}


.show-pass
{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -10px;
}

#checkbox, #checkbox-label
{
    cursor: pointer;
}


.signin
{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#signin-button 
{
    width: 20%;
    padding: 8px 0;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}
.signup
{
    margin-top: 10px;
    font-size: 14px;
}

.signup a
{
    font-weight: bold;
}


#message
{
    text-align: center;
}




.error
{
    color: red;
    font-family: "times new roman";
}

@media screen and (max-width:960px)
{
    .container
    {
        height: 80%;
    }    
}


@media screen and (max-width: 768px)
{
    .container
    {
        width: 80%;
    }    
}


@media screen and (max-width: 425px)
{
    #signin-button
    {
        font-size: 14px;
        width: 30%;
    }

}